{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row content">
    	<div class="col-sm-3 sidenav">
    	</div>
    </div>
    <div class="col-sm-9">
    	  <div class="page-wrapper bg-dark p-t-20 p-b-50">
		        <div class="wrapper wrapper--w900">
		            <div class="card card-6">
		                <div class="card-heading">
		                    <h2 class="title">Fill Below to Upload your code</h2>
		                </div>
		                <div class="card-body">
						  <form method="post" enctype="multipart/form-data">
						    {% csrf_token %}
						    {{ form.as_p }}
						    <button type="submit" class="btn btn-success " onclick="fun_popup()">Upload</button>
						  </form>
						</div>
					</div>
				</div>
			</div>	
		</div>
</div>
<footer class="container-fluid">
  <p><a href="/search">Return to home</a></p>
</footer>	

<script>
	function fun_popup() {
  alert("Code is Successfully Submited!");
}
</script>
{% endblock %}
