{% extends 'base.html' %}

{% block content %}
<!-- <h1>Contact Page</h1>
<p>For testing purpose</p>
 -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>NightWatch Team</h1>      
    <p>Get in touch if you need any help...</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3 style="font-family:Times New Roman">Contact US</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <h4 style="font-family:Times New Roman">Abhilash Dubey</h4>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
       <h4 style="font-family:Times New Roman">Akash Zawar</h4>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
       <h4 style="font-family:Times New Roman">Ankit Khare</h4>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4"> 
       <h4 style="font-family:Times New Roman">Rushuvee Malani</h4>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
       <h4 style="font-family:Times New Roman">Sudanshu Kumar Singh</h4>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}